section#article-section {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 0.8em;
}
.article-container {
  padding: 10px;
}
.article-header {
  padding-bottom: 20px;
}
h2#article-title {
  padding-top: 10px;
}
.article-author {
  color: #5f5f5f;
  font-size: 0.9em;
}
.article-date {
  color: #5f5f5f;
  font-size: 0.8em;
}
.article-body {
  margin-bottom: 30px;
}
