section#article-section {
  font-family: Helvetica, Arial, Sans-Serif;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
  font-size: 0.8em;
}
.article-header {
  padding-bottom: 20px;
}
h2#article-title {
  padding-top: 10px;
}
.article-author {
  color: #5f5f5f;
  font-size: 0.9em;
}
.article-date {
  color: #5f5f5f;
  font-size: 0.8em;
}
