
#headlines-container {
  font-size: 0.8em;
}
#headlines-container h3 {
  margin: 0;
}
ul.headlines {
  padding: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
li.headlines {
  padding-bottom: 5px;
}
li.headlines a {
  color: #222;
  text-decoration: none;
}

section#slideshow-headlines-section {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
#slideshow {
  float: left;
}
#slideshow-container {
  height: 270px;
}

section#popular-posts-section {
  background-color: #f0f0f0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 0.8em;
}
.popular-post {
  margin-bottom: 30px;
}
.popular-post a {
  color: gray;
  text-decoration: none;
}
.popular-post a:visited {
  color: gray;
}
.popular-post-image-thumbnail {
  float: left;
  width: 200px;
  height: 120px;
  overflow: hidden;
  border: 1px solid lightgray;
  margin-bottom: 5px;
  background-color: #fefefe;
}
.popular-post-title {
  color: #222222;
  float: left;
  width: 200px;
}
.popular-post-description {
  padding-top: 5px;
  color: #888888;
  float: left;
  width: 200px;
  font-size: 0.9em;
}

