ul.headlines {
  padding: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
li.headlines {
  padding-bottom: 5px;
}
li.headlines a {
  color: #222;
  text-decoration: none;
}

section#slideshow-headlines-section {
}
#slideshow-and-headlines-container {
  padding-top: 10px;
  padding-bottom: 20px;
}
#slideshow {
  float: left;
}

section#custom-page-section-section {
}

section#popular-posts-section {
}
#popular-posts-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
section#discussion-board-section {
}
.popular-post {
  font-size: 0.8em;
  margin-bottom: 30px;
}
.popular-post a {
  color: gray;
  text-decoration: none;
}
.popular-post a:visited {
  color: gray;
}
.popular-post-image-thumbnail {
  float: left;
  width: 200px;
  height: 120px;
  overflow: hidden;
  border: 1px solid lightgray;
  margin-bottom: 5px;
  background-color: #fefefe;
}
.popular-post-title {
  color: #222222;
  float: left;
  width: 200px;
}
.popular-post-description {
  padding-top: 5px;
  color: #888888;
  float: left;
  width: 200px;
  font-size: 0.9em;
}

/* Sections */
h3.section-title {
  margin: 0px;
  padding-bottom: 10px;
}

/* Post List Types */
.post-list-type-1 {
  font-size: 0.8em;
}
.post-list-type-1-header h3 {
  margin: 0;
  background-color: #d9d9d9;
  height: 30px;
}
.post-list-type-1-header {
  padding-bottom: 2px;
}
.post-list-type-1-posts {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
}
.post-list-type-1 a {
  text-decoration: none;
  color: #303030;
}
.post-list-type-1 a:visited {
  text-decoration: none;
  color: #505050;
}
.post-list-type-1 a:hover {
  text-decoration: none;
  color: #909090;
}
.post-list-type-1-entry {
  padding-bottom: 5px;
}
.post-list-type-1-thumbnail {
  float: left;
}
.post-list-type-1-title {
  float: left;
  padding-left: 10px;
  width: 180px;
  font-size: 1.08em;
}
