ul.headlines {
  padding: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
li.headlines {
  padding-bottom: 5px;
}
li.headlines a {
  color: #222;
  text-decoration: none;
}

section#custom-page-section-section {
}

section#popular-posts-section {
}
#popular-posts-container {
  padding-bottom: 20px;
}
section#discussion-board-section {
}
.real-popular-posts-container {
  padding-top: 10px;
}
.popular-post {
  font-size: 0.8em;
  margin-bottom: 20px;
  padding-left: 7px;
  padding-right: 7px;
  float: left;
  width: 200px;
}
.popular-post a {
  color: gray;
  text-decoration: none;
}
.popular-post a:visited {
  color: gray;
}
.popular-post-image-thumbnail {
  float: left;
  width: 200px;
  height: 120px;
  overflow: hidden;
  border: 1px solid lightgray;
  margin-bottom: 5px;
  background-color: #fefefe;
}
.popular-post-title {
  color: #222222;
  font-weight: bold;
  float: left;
  width: 200px;
}
.popular-post-description {
  padding-top: 5px;
  color: #888888;
  float: left;
  width: 200px;
  font-size: 0.9em;
}

/* Sections */
h3.section-title {
  background-color: #600000;
  margin: 0px;
  height: 30px;
}

/* Popular Posts 2 */
.popular-posts-subcontainer {
  padding-top: 10px;
}
.popular-posts-subcontainer a {
  text-decoration: none;
  color: #600000;
}
.popular-posts-subcontainer a:hover {
  text-decoration: none;
  color: #900000;
}
.popular-post-big-image-thumbnail {
  float: left;
  width: 290px;
  height: 210px;
  overflow: hidden;
  border: 1px solid lightgray;
  margin-bottom: 5px;
  background-color: #fefefe;
}
.popular-post-big-description {
  float: left;
  color: white;
  background-color: black;
  text-shadow: 1px 1px black;
  font-weight: bold;
  height: 38px;
  width: 270px;
  margin-top: -54px;
  line-height: 1.25em;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 5px 10px;
  overflow: hidden;
  opacity: 0.8;
}
.popular-post-big-description-background {
  float: left;
  background-color: black;
  color: gray;
  height: 30px;
  width: 290px;
  margin-top: -30px;
}
.popular-post-medium-image-thumbnail {
  float: left;
  width: 165px;
  height: 100px;
  overflow: hidden;
  border: 1px solid lightgray;
  margin-bottom: 5px;
  background-color: #fefefe;
}
.popular-post-medium-description {
  float: left;
  padding-left: 10px;
  line-height: 1.2em;
  height: 95px;
  width: 165px;
  margin-bottom: 15px;
  overflow: hidden;
}
