<% if Rails.env.production? %>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-1214541924352395";
  /* Small Box Under Headlines */
  google_ad_slot = "1686483643";
  google_ad_width = 250;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
<% else %>
  <div style="border: 1px solid black; width: 248px; height: 248px"></div>
<% end %>
