<div id="observation_deck_container" class="right_content">
  <h2>Observation Deck</h2>
  <div class="white_bg">
    <ul>
      <% @popular_posts[1..3].each do |post| %>
        <li>
          <div class="img_container">
            <% if post.image? %>
              <img src="http://dummyimage.com/120x100/000222/000"/>
              <img src="<%= post.image.url(:thumb) %>"/>
            <% else %>
              <img src="http://dummyimage.com/120x100/000222/000"/>
            <% end %>
          </div>
          <div class="blurb">
            <h3>
              <%= link_to (truncate post.title, :length => 30), "/articles/#{post.slug}" %>
            </h3>
            <p><%= article_text_sample(post, 100) %></p>
          </div>
        </li>
      <% end %>
    </ul>
    <div style="clear:both"></div>
  </div>
</div>