<div id="observation_deck_container" class="threecol">
  <h2>O Deck</h2>
    <ul>
      <% observation_deck.each do |post| %>
        <li>
          <div class="blurb">
            <h3>
              <%= link_to (truncate post.title, :length => 30), "/articles/#{post.slug}" %>
            </h3>
            <p><%= article_text_sample(post, 100) %></p>
          </div>
        </li>
      <% end %>
    </ul>
    <div style="clear:both"></div>
</div>