/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
@import "normalize";
@import "960";

#container {
  background-color: lightgray;
}
.image-position-0 {
  position: relative;
  top: 0;
  left: 0;
}
.image-position-1 {
  position: relative;
  top: 0;
  left: 0;
}
.image-position-2 {
  float: left;
}
.image-position-3 {
}
.image-position-4 {
}
.image-position-5 {
}
