/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require normalize
 *= require 960
 *= require slides.jquery
 *= require_self
 *= require_tree .
*/

/* Globals */
.white-background {
  background-color: white;
}
.dark-title-background {
  float: left;
  color: white;
  background-color: #373737;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 24px;
}

/* Elements */

body {
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  background-color: #ccc;
}
h3 {
  font-size: 1.6em;
}

header {
  background-color: gray;
}
header a {
  text-decoration: none;
}
header a:visited {
  color: blue;
}
#header-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
#userbox {
  float: right;
  font-size: 0.8em;
  line-height: 1.8em;
  padding-right: 10px;
}
#userbox {
  color: gray;
}
#userbox a {
  text-decoration: none;
  color: #aaa;
}
#userbox a:hover {
  color: #888;
}

/* Header With Categories and Dropdown Menu */
#header-categories-container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #600000;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}
#header-categories-container a {
  color: #ccc;
}
#header-categories-container a:hover {
  color: #aaa;
}

ul.categories-list {
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}
li.categories {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}
.subcategories-list {
  list-style-type: none;
  margin: 0;
  position: absolute;
  z-index: 1000;
  display: none;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: #600000;
  border-bottom: 2px solid #222;
}
li.subcategory {
  padding-bottom: 5px;
}

/* Footer */
footer {
  font-size: 0.6em;
  background-color: #eee;
  border-top: 3px solid #ccc;
  color: gray;
  padding: 20px;
}
