/*
 *= require normalize
*/

$gap_size: 4px;

$width: 940px;
$left_width: 640px - $gap_size;
$right_width: 300px;


body {
  background-image: url(/assets/background.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type=submit] {
  border: 1px solid maroon;
  background-color: maroon;
  color: white;
  padding: 4px;
  font-size: 12px;
  &:hover {
    background-color: #a00000;
  }
  &:active {
    background-color: #900000;
  }
}
a {
  color: #700000;
  text-decoration: none;
  &:hover {
    color: #c00000;
  }
  &:active {
    color: #900000;
  }
}

// Headline Items
h2 {
  color: lightgray;
  background-color: rgba(140,0,0,0.6);
  padding: 10px 0px 3px 10px;
  margin: 0px;
  text-transform: uppercase;
  font-family: Share, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

#search_bar {
  padding: 10px;
  width: 100%;
  background-color: rgba(50,50,50,0.7);
  #search_box {
    float: right;
  }
}

#header {
  margin: 20px 0 15px;
  height: 125px;
  #logo {
    float: left;
    margin-left: -30px;
  }
  #sign_in_container {
    float: right;
    position: relative;
    width: 500px;
    height: 125px;
    #sign_in_box {
      text-align: left;
      position: absolute;
      right: 0;
      bottom: 0;
      th {
        color: white;
        font-size: 12px;
        padding-left: 10px;
      }
      td {
        padding-left: 10px;
        input {
          max-width: 150px;
        }
      }
    }
  }
}

#navbar {
  background-color: rgba(50,50,50,0.7);
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: Share, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      display: inline;
      margin: 15px;
      text-transform: uppercase;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: #ccc;
        }
      }
    }
  }
}

#upper_ad_container {
  height: 90px;
}
#upper_separator {
  background-color: maroon;
  width: $width;
  height: 15px;
  position: relative;
  .downward_wedge {
    width: 0;
    height: 0;
    border-top: 50px solid maroon;
    border-right: 50px solid transparent;
    position: absolute;
  }
}
#upper_content {
  #recent_articles {
    float: left;
    width: $right_width;
    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 12px;
      li {
        margin: 10px 0;
        display: table;
        img {
          display: table-cell;
        }
        span {
          padding-left: 12px;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}
#middle_content {
  #top_post {
    float: left;
    width: 410px - $gap_size;
    #top_post_content {
      padding: 12px;
      h3 {
        margin: 7px 0px;
      }
      p {
        margin: 0px;
        font-size: 14px;
      }
    }
  }
  #headlines {
    float: left;
    width: 230px - $gap_size;
    margin-left: $gap_size;
    color: gray;
    ul {
      list-style-type: square;
      margin: 0;
      padding-left: 35px;
      li {
        padding: 5px 0;
      }
    }
  }
}
#lower_content {
  #popular_posts_container {
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 12px 0px 12px 12px;
      li {
        float: left;
        width: $left_width/2 - 10px;
        margin-bottom: 10px;
        img {
          float: left;
        }
        div {
          float: left;
          padding-left: 5px;
          width: 160px;
          h3 {
            color: maroon;
            font-size: 16px;
            font-weight: bold;
            margin: 0;
          }
          p {
            color: gray;
            font-size: 12px;
            margin: 5px 0px 0px;
          }
        }
      }
    }
  }
}
#lower_separator {
  background-color: maroon;
  width: $width;
  height: 15px;
  margin-bottom: 40px;
  position: relative;
  .upward_wedge {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid maroon;
    position: absolute;
    right: 0;
    top: -50px;
  }
}

.left_content {
  float: left;
  width: $left_width;
}
.right_content {
  float: right;
  width: $right_width;
}
.white_bg {
  background-color: white;
}
.slideshow_main_image {
  float: left;
}
.slideshow_thumbnail {
  float: left;
}
