<div id="slideshow" class="grid_4">
  <div id="slideshow-container" style="border: 1px solid black; height: 100px"></div>
</div>
<div id="headlines" class="grid_4">
  <h3>Headlines</h3>
  <ul>
    <li>Headline 1</li>
    <li>Headline 2</li>
    <li>Headline 3</li>
    <li>Headline 4</li>
    <li>Headline 5</li>
  </ul>
</div>
<div class="clear"></div>
<div id="popular-posts">
  <h3>Popular Posts</h3>
  <div class="pic1">Post1</div>
  <div class="pic2">Post2</div>
  <div class="pic3">Post3</div>
  <div class="pic4">Post4</div>
</div>
